<footer>
  <span>
    &copy; {new Date().getFullYear()} cbtalia |
    <p><a href="https://linkedin.com/in/christinatburgos/" target="_blank">linkedin</a> |</p>
    <p><a href="https://github.com/christinabrgs" target="_blank">github</a> |</p>
    <p><a href="mailto:christina.brgs@gmail.com">contact me 🡽</a></p>
  </span>
</footer>

<style>
  footer {
    color: var(--text-secondary);
    font-size: .8em;
    margin: 1em auto;
    max-width: 1400px;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
  }

  p {
    display: inline;
    font-size: 0.8rem;
    test-decoration: none;  
  }

  a {
    box-shadow: none;  
  }
</style>
